.img-fundo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height:88vh;
  object-fit: cover; /* Garante que a imagem ocupe toda a área do container */
  z-index: -1;
}

.conteudo-details {
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.div-imagem {
  height: 88vh;
}

.fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88vh;
  background-color: rgba(0, 0, 0, 0.793); /* Fundo preto */
  z-index: -1;
}

.content {
  text-align: center; 
  color: white;
  margin-top: 35px;
  margin-right: 65px; 
}

.tagline {
  font-size: 16px;
}

.img-poster-details {
  width: 275px;
}

.div-imagem-poster h1 {
 font-size: 18px;
}

.sinopse {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 510px;
  height: 250px;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-left: 12px;
}

.sinopse p {
  margin-bottom: 15px;
}

.sinopse span {
  display: block;
  text-align: center;
  width: 88px;
  margin: auto;
  border-radius: 7px;
}

.green {
  background-color: green;
  font-weight: bold;
}

.yellow {
  background-color: rgb(212, 212, 6);
  font-weight: bold;
  color: rgb(68, 68, 68);
}

.red {
  background-color: red;
}

.titulo-subtitulo {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.div-btn-voltar {
 display: flex;
 flex-direction: column;
}

.div-btn-voltar button {
  display: block;
  width: 50px;
  margin-top: 19px;
  font-size: 29px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  height: 30px;
}

.div-btn-voltar button:hover {
  background-color: #e50914;
  font-weight: bold;
}

@media (max-width: 480px) {
  .conteudo-details {
    display: flex;
    flex-direction: column;
  }

  .content {
    position: absolute;

  }
}