.nav-header{
  background-color: #e50914;
  display: flex;
}


.titulo{
  text-decoration: none;
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-size: 24px;
}

.nav-header input {
  padding: 8px;
  border-radius: 10px;
  border: none;
  margin: 14px 0px;
}

.icon-busca a button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18px;
  font-size: 22px;
  cursor: pointer;
  border: none;
  background-color: #e50914;
  padding: 4px;
}

.icon-busca a button:hover {
  background-color: white;
  border-radius: 9px;
}

@media (max-width: 480px) {
  .nav-header {
    width: 100%;
  }

  .nav-header input {
    width: 130px;
    margin-left: 12px;
    font-size: 20px;
    height: 50px;
    margin-top: 25px;
  }

  .icon-busca  {
    margin: auto;
  }

  .titulo {
    font-size: 20px;
  }
}
